# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: Invidious
version: "1.2.0"
slug: invidious
description: Invidious - Privacy-friendly YouTube frontend
url: "https://github.com/tserra30/Invidious-adon-/tree/main/example"
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
init: false
map:
  - share:rw
options:
  message: "Hello world..."
schema:
  message: "str?"
image: "ghcr.io/tserra30/{arch}-addon-invidious"
